  /* SPECIAL FEATURE */
body {font-family: 'Ubuntu'; text-align: center;}
.features {position: relative;z-index: 1;}
.imagehover:hover {color: #ff4c68;}
.image-iphone {width: 50%; transform: rotate(25deg); position: absolute; left: 30%;}
.dwnbtn {margin-right: 6%;}       .testimonial-image {width:100px; height: 100px; border-radius: 50%; }
.dlpadding {padding-top: 5%;}     .testtext {margin: 10% 20% 5%;}
em {margin-left: 30px;}           .carousel-item {margin-bottom: 50px;}
.press-images {width: 75%;}       .cta {padding: 5% 0;}
.footer {padding-top: 5%}
  /* SETTING */
.fnubuntu {font-family: 'Ubuntu' sans-serif;} .fnfjalla {font-family: 'Fjalla One', sans-serif;}
.fnmonterrat {font-family: 'Montserrat', sans-serif;}
.fnweight900 {font-weight: 900;}
.fnsize16px {font-size: 16px;}          .fnsize32px {font-size: 28px;}
.fnsize48px {font-size: 48px;}          .fnsize64px {font-size: 64px;}
.color1 {color: white;}     .color2 {color: black;}    .color3 {color: #ff4c68;}
.color3 {color: #ff4c68;}   .color4 {color: #ef8172;}  .color5 {color: gray;}
.bgcolor1 {background-color: #ff4c68;}  .bgcolor2 {background-color: #ef8172;}
.bgcolor3 {background-color: red;}      .bgcolor4 {background-color: white;}
.padding0 {padding: 0;}                 .padding1 {padding: 1% 11%;}
.padding2 {padding: 5% 11%;}            .padding3 {padding: 7.5% 11%;}
.margin0 {margin: 0;}                   .margin2 {margin-top: 5%;}
.margin1 {margin: 3% 3%;}              .padding4 {padding: 0 1% 1%;}
.text-align-left {text-align: left;}    .text-align-right {text-align: right;}
.text-align-center {text-align: center;}
  /* @MEDIA */
@media (max-width: 768px) {.media-small {text-align: center; margin-top: 0; padding-top: 0;}
.media-h1{font-size: 36px;} .dwnbtn{margin: 1%; padding: 0; width: 120px; height: 40px; font-size: 16px;}
.image-iphone {margin-top: 10%; position: static; width: 40%; transform: none;} .press-images {width: 60%; margin: 5%;}}
@media (max-width: 412px) {.media-small {text-align: center; padding-top: 15%;}.media-h1{font-size: 36px;}
.dwnbtn{margin: 1%; padding: 0; width: 120px; height: 40px; font-size: 16px;}
.image-iphone {margin-top: 10%; position: static; width: 70%; transform: none;}
.testtext{font-size: 20px} .press-images {width: 50%; margin: 5%;} .card{margin: 5%;}}
