/* SPECIAL FEATURE */
body {font-family: 'Ubuntu'; text-align: center;}
.features {position: relative;z-index: 1;}
.fas:hover {color: #ff4c68;}
.image-iphone {width: 50%; transform: rotate(25deg); position: absolute; left: 30%;}
.dwnbtn {margin-right: 6%;}
  /* SETTING */
  .fnubuntu {font-family: 'Ubuntu' sans-serif;}
  .fnmonterrat {font-family: 'Montserrat', sans-serif;}
  .fnfjalla {font-family: 'Fjalla One', sans-serif;}
  .fnweight900 {font-weight: 900;}
  .fnsize64px {font-size: 64px;}
  .fnsize48px {font-size: 48px;}
  .fnsize32px {font-size: 28px;}
  .fnsize16px {font-size: 16px;}
  .color1 {color: white;}
  .color2 {color: black;}
  .color3 {color: #ff4c68;}
  .color4 {color: #ef8172;}
  .color5 {color: gray;}
  .bgcolor1 {background-color: #ff4c68;}
  .bgcolor2 {background-color: #ef8172;}
  .bgcolor3 {background-color: red;}
  .bgcolor4 {background-color: white;}
  .padding0 {padding: 0;}
  .padding1 {padding: 1% 11%;}
  .padding2 {padding: 5% 11%;}
  .padding3 {padding: 7.5% 11%;}
  .margin0 {margin: 0;}
  .dlpadding {padding-top: 5%;}
  .dlbtn {margin: 5% 3% 0 0 }
  .text-align-left {text-align: left;}
  .text-align-right {text-align: right;}
  .text-align-center {text-align: center;}
  /* @MEDIA */
  @media (max-width: 920px) {.media-small {text-align: left;}.media-h1{font-size: 48px; margin-top: 20%;}.dwnbtn{margin: 2%;}
  .image-iphone {margin-top: 10%; width: 60%;}}

  @media (max-width: 768px) {.media-small {text-align: center; margin-top: 0; padding-top: 0}.media-h1{font-size: 36px;}
  .dwnbtn{margin: 1%; padding: 0; width: 120px; height: 40px; font-size: 16px;}
  .image-iphone {margin-top: 10%; position: static; width: 40%; transform: none;}}

  @media (max-width: 412px) {.media-small {text-align: center;}.media-h1{font-size: 36px;}
  .dwnbtn{margin: 1%; padding: 0; width: 120px; height: 40px; font-size: 16px;}
  .image-iphone {margin-top: 10%; position: static; width: 70%; transform: none;}}
